autopep8==1.6.0
certifi==2024.7.4
charset-normalizer==2.0.3
cycler==0.10.0
deprecation==2.1.0
eyeD3==0.9.5
filetype==1.0.7
hmmlearn==0.2.2
idna==3.7
imageio==2.10.2
imbalanced-learn==0.7.0
imblearn==0.0
joblib==1.2.0
kiwisolver==1.3.1
matplotlib==3.1.2
networkx==2.6.3
numpy==1.22.0
opencv-python==4.5.2.54
packaging==21.0
pandas==1.0.3
Pillow==10.3.0
plotly==4.1.1
pyAudioAnalysis==0.3.7
pycodestyle==2.8.0
pydub==0.24.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4
requests==2.32.0
retrying==1.3.3
scikit-image==0.17.2
scikit-learn==1.5.0
scipy==1.10.0
simplejson==3.16.0
six==1.16.0
threadpoolctl==2.2.0
tifffile==2021.11.2
toml==0.10.2
--find https://download.pytorch.org/whl/cu113/torch_stable.html
torch==2.2.0 
--find https://download.pytorch.org/whl/cu113/torch_stable.html
torchaudio==0.10.0+cu113
--find https://download.pytorch.org/whl/cu113/torch_stable.html
torchvision==0.11.1+cu113
tqdm==4.66.3
typing-extensions==3.10.0.2
urllib3==1.26.19
xgboost==1.4.2
