git+https://github.com/tyiannak/pyAudioAnalysis.git
certifi==2021.5.30
charset-normalizer==2.0.3
cycler==0.10.0
deprecation==2.1.0
eyeD3==0.9.5
filetype==1.0.7
hmmlearn==0.2.2
idna==3.2
imbalanced-learn==0.8.0
imblearn==0.0
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.1.2
numpy==1.18.1
packaging==21.0
pandas==1.3.1
plotly==4.1.1
pyAudioAnalysis==0.3.7
pydub==0.24.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
retrying==1.3.3
scikit-learn==0.24.2
scipy==1.4.1
simplejson==3.16.0
six==1.16.0
threadpoolctl==2.2.0
tqdm==4.46.0
urllib3==1.26.6
xgboost==1.4.2
